* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	/*background: #9B29FF;*/
	background: url(../images/space/nebula.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: white;
	font-family: 'Fredoka One', cursive;
}

.topnav {
	position: fixed;
	top: 0;
	width: 100%;
	/*background-color: rgba(135, 0, 255, 0.5);*/
	background-color: rgba(50, 0, 50, 0.5);
	overflow: hidden;
	padding: 1em;
	z-index: 1;
	list-style-type: none;
    margin: 0;
}

.topnav li a {
	float: right;
	width: 10%;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.topnav li a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.topnav .menu {
	position: fixed;
	left: 0;
	width: 10%;
	font-size: 24px;
}

.topnav .menu:hover {
	font-size: 28px;
}

#logo {
	margin-right: 35%;
	font-family: 'Pacifico', cursive;
}

.content {
	height: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10vh;
	padding: 2%;
	display: flex;
}

.arrow {
	width: 20%;
	margin: auto;
}

.arrow:hover {
	cursor: pointer;
}

.arrow.left {
	text-align: right;
}

.arrow.right {
	text-align: left;
}

.card {
	width: 20em;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	/*background-color: rgba(50, 0, 50, 0.5);*/
}

.card img {
	width: 70%;
	border: 5px solid white;
	border-radius: 50%;
}

.card div {
	width: 100%;
	height: 50%;
	margin: 0 auto;
	margin-top: 5%;
	padding: 5%;
	text-align: left;
}

.card #name {
	text-align: center;
	font-size: 300%;
}

.card #role {
	margin-top: 0;
	text-align: center;
	font-variant: small-caps;
}

.card div p {
	margin-top: 5%;
	font-size: 100%;
}

.bottomnav {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	/*background-color: rgba(135, 0, 255, 0.5);*/
	background-color: rgba(50, 0, 50, 0.5);
	overflow: hidden;
	padding: 1em;
	z-index: 1;
	text-align: center;
}
